

.content_login{
    margin: auto;
    display: flex;
    height:100vh; 
}

    .div_login{
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; /* */           
        /*background-image: radial-gradient(#1B1042 2%,#431881 98%);*/        
    }   
        .icono_logo{
            width: 250px;
        }

        h1{
            font-size: 50px;
        }

        p{
            border: solid #1B1042 2px;
            border-radius: 30px;
            padding: 8px 15px;
            background-image: linear-gradient(90deg, #5e2aa7,#6e5bb3);
            font-size: 18px;
        }

        form{
            width: 320px;
        }
            form label{
                padding: 10px;
            }
            form input{
                width: 100%;
                padding: 7px;
                border-radius: 15px;
            }
                .login_button_click{
                    width: 100px;
                    color: #ffffff;
                    border: solid #1B1042 2px;
                    border-radius: 30px;
                    padding: 8px 15px;
                    background-image: linear-gradient(90deg, #5e2aa7,#6e5bb3);
                    font-size: 18px;
                    display: flex;
                    margin: auto;
                    justify-content: center;                    
                }
                

    .div_login_imagen{
        background-image: radial-gradient(#431881 1%,#1B1042 99%);
        flex: 1;
    }